.comments {
  margin-bottom: 150px;
}

.comments__content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-gap: 40px;

  @include tablets {
    grid-gap: 60px;
  }

  @include desktop {
    grid-gap: 100px;
  }
}

.comments__content {
  margin-bottom: 100px;
  display: flex;

  @include phones {
    flex-direction: column;
    margin-bottom: 0px;
  }

  @include tablets {
    flex-direction: row;
  }
}