.works {
  position: relative;

  @include phones {
    padding-bottom: 70px;
  }
  
  @include desktop {
    padding-bottom: 50px;
  }
}

.works--container {

  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-gap: 20px;

  @include desktop {
    grid-gap: 60px;
  }

  @include desktopHd {
    grid-gap: 100px;
  }
}
