script(type='text/x-template')#skill-scales
  .skill-scales
    ul.skill-scales__list
      li.skill-scales__item(v-for='skill in skills' :key='skill.title')
        skill-scales-list(
          :skill='skill'
        )

script(type='text/x-template')#skill-scales-list
  .skill-scales__row
    h3.skill-scales__title {{ skill.title }}
    ul.skill-scales__sublist
      li.skill-scales__elem(v-for='(skillValue, skillName) in skill.skills')
        skill-scales-elem(
          :skill-name= 'skillName'
          :skill-value= 'skillValue'
        )

script(type='text/x-template')#skill-scales-elem
  svg(class="circular-icon" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg")
    linearGradient(id="linear-gradient" x1="0" x2="0" y1="0" y2="1")
      stop(offset="0%" stop-color="#9300e8")
      stop(offset="100%" stop-color="#4a00ed")
    path(class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
    path(class="circle" ref='circle-fill' stroke-dasharray='0' v-view.once="handleScroll" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
    text(class="inner-text" x="18" y="19")  {{ skillName }}