script(type='text/x-template')#slider-wrapper
  .slider-wrapper
    slider(
      :works='works'
      :active-work='activeWork'
      :index='index'
      @slide='moveSlide'
    )
    description(
      :active-work='activeWork'
    )

script(type='text/x-template')#slider
  .slider(:data-slide='index + 1')
    .slider__img
      .slider__img-wrapper
        img.slider__img-elem(:src='activeWork.picture')
      
      slider-options(
        :works='works'
        :activeWork='activeWork'
        @slide='$emit("slide", $event)'
      )
      slider-controls(
        @slide='$emit("slide", $event)'
      )

script(type='text/x-template')#description
  .desc
    desc-tags(
      :descTags='descTagsArray'
    )
    
    .desc__content
      h3.desc__title(v-html='activeWork.title')
      .desc__text
        p {{ activeWork.text }}
      
      a.link(:href='activeWork.link')
        +icon('link', 'link')
        .link__text Посмотреть сайт

script(type='text/x-template')#slider-options
  .slider__options
    ul.options
      li.options__item(
        v-for='work in works'
        :key='work.id'
        :class='{ options__item_active: work.id == activeWork.id }'
        @click='$emit("slide", work.id)'
        )
        img.options__pic(:src='work.picture')

script(type='text/x-template')#slider-controls
  .slider__controls
    button.slider__btn.slider__btn--arrow-down(@click='$emit("slide", "prev")')
    button.slider__btn.slider__btn--arrow-up(@click='$emit("slide", "next")')

script(type='text/x-template')#desc-tags
  .desc__tags
    ul.tags__list
      li.tags__item(v-for='tag in descTags' :key='tag') {{tag}}